<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>	
	</head>
	<body>
	<main >
		<h1> {{headMain}} {{header1}}</h1>
		<h2> Name	NetID</h2>
		<p>{{info | safe}}</p>
	</main>
	</body>
	
</html>