
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome Page</title>
  <style> main { background-color: lime; border-style: dotted; } </style>
</head>
<body>
  <main>
	<h1> Welcome to the Club.com </h1>
	<h2> {{name}} </h2>
	<h2> Netid: {{netid}} </h2>
  </main>
</body>
</html>