body {
  background: rgba(0,0,0,0.9);
  margin: 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#clickable {
  cursor: pointer;
}
.link1:hover {
  color: red;
}
.link3:hover {
  color: red;
}
.showcase::after {
  content: '';
  height: 95vh;
  width: 100%;
  background-image: url(showcase2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter(): blur(5px);
  transition: all 1200ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter(): blur(0px);
}

.showcase .content .title {
  filter: blur(5px);
  -webkit-filter(): blur(5px);
}
.showcase:hover .content .title{
  filter: blur(0px);
  -webkit-filter(): blur(0px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  /*margin-top: 105px;
  margin-left: -750;*/
  left: 50px;
  width: 75%;
  height: 100%;
  text-align: left;
  transition: all 1200ms;
  max-width: 940px;
}

.content .logo {
  height: 45%;
  width: 75%;
}

.content .title {
  text-align: left;
  margin-left: 5;
  margin-top: -20;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin:auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}
footer {
  padding: .7rem;
}
footer p {
  margin: 0;
}
/*small screens*/
@media(max-width: 560px) {
  .grid-3 , .grid-2 {
    grid-template-columns: 1fr;
  }
  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}
/* landscape */
@media(max-height: 500px) {
  .content .title, .content .text {
    display: none;
  }
  .content {
    top: 0;
  }
}
