<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<style> {{style}}</style>	
	</head>
	<body>
	<main >
		<h1> {{head1}}</h1>
		<h2> Brought to you by: {{name}} </h2>
		<p> {{info}} </p>
	</main>
	</body>
	</div>
</html>